.botonMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;    
  height: 7%;
  position: fixed;
  bottom: 1rem;
  border-radius: 100px;
  right: 40%;
  background-color: black; 
  border: 0;
  color: white;
}
/* Se le quita el borde azul cuando se pulsa en Chrome */
.botonMenu:focus {
  outline: none;
}
/* Cuando es pulsado, se quita el translate que lo ocultaba */
.botonMenu:focus + .principal {
  transform: translateY(20rem);
}
/* Se posiciona y se oculta con translate */
nav.principal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24rem;
  background-color: black;
  transform: translateY(45rem);
  transition: 1s all;
}
/* Estilos sencillos para decorar los links */
nav.principal ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav.principal a {
  display: block;
  text-align: center;
  color: white;
  padding: 1rem;
  transition: .5s all;
}
nav.principal a:hover {
  text-decoration: none;
  background-color: skyblue;
}
